<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Reconocimiento facial</title>
</head>
<body class="bg-light">

<div class="container" x-data="app()" x-init="$nextTick(()=> start())">
    <div class="content">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bolder">FaceRecognition</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-4 offset-4">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success w-100">
                                        {{ message }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-4">
                        <div class="card card-light w-100" style="cursor: pointer;"  @click="startWebcam(true)">
                            <div class="card-body">
                                <div class="row text-center">
                                    <strong>Imagen a reconocer</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-light w-100" style="cursor: pointer;"  @click="startWebcam(false)">
                            <div class="card-body">
                                <div class="row text-center">
                                    <strong>Escanear rostro</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card card-light w-100" style="cursor: pointer;"  @click="showUploadPhotoForm = !showUploadPhotoForm">
                            <div class="card-body">
                                <div class="row text-center">
                                    <strong>Cargar rostro</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-2" x-show="!showUploadPhotoForm">
                    <div class="col" x-show="!takenPicture">
                        <video autoplay playsinline id="webcam"></video>
                    </div>
                    <div class="col" x-show="takenPicture">
                        <canvas id="fotoCapturada" style="display: none;"></canvas>
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary" @click="tomarFoto">Tomar foto</button>
                        <button class="btn btn-warning" x-show="openWebcam" @click="openWebcam = false">Apagar camara</button>
                        <button class="btn btn-danger" x-show="takenPicture" @click="removePicture">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </div>
                </div>
                <div class="row" x-show="showUploadPhotoForm">
                    <form action="{{ url_for('recognition.manual_upload_image') }}" enctype="multipart/form-data" method="post">
                        <div class="form-row">
                            <label for="id_file_name">
                                Nombre de la persona a reconocer *
                                <input type="text" name="file_name" id="id_file_name" required class="form-control">
                            </label>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <label for="id_upload_photo">
                                    Cargar imagen *
                                    <input type="file" required name="foto" id="id_upload_photo" class="form-control w-100">
                                </label>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <div class="col-12">
                                <button class="btn btn-primary btn-block btn-large">Cargar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script>
function app() {
    return {
        startApp: false,
        videoEl: document.getElementById("webcam"),
        openWebcam: false,
        stream: null,
        takenPicture: false,
        createRecognitionImages: null,
        uploadPretakePhoto: false,
        showUploadPhotoForm: false,
        start() {
            this.$watch("openWebcam", (value, oldValue) => {
                if (value) {
                    this.runWebcam()
                } else {
                    this.takenPicture = false
                    this.stopWebcam()
                }
            })

            this.$watch("showUploadPhotoForm", (value, oldValue) => {
                if (value) {
                    this.stopWebcam()
                }
            })
        },
        startWebcam(forRecognition = true) {
            this.createRecognitionImages = forRecognition
            this.openWebcam = true
        },
        removePicture() {
            const canvas = document.getElementById('fotoCapturada');
            canvas.style.display = "none"
            this.takenPicture = false
        },
        async runWebcam() {
            const stream = await navigator.mediaDevices.getUserMedia({
                video: true,
                audio: false
            })

            this.videoEl.srcObject  = stream
            this.stream = stream
        },
        stopWebcam() {
            this.stream.getTracks().forEach(track => track.stop());
        },
        tomarFoto() {
            const video = document.getElementById('webcam');
            const canvas = document.getElementById('fotoCapturada');
            // Configura el canvas con las dimensiones del video
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            // Dibuja el fotograma actual del video en el canvas
            const contexto = canvas.getContext('2d');
            contexto.drawImage(video, 0, 0, canvas.width, canvas.height);
            canvas.style.display = "block"
            this.takenPicture = true

            // Convierte la imagen del canvas a un formato Blob
            canvas.toBlob((blob) => {
                // Envía el Blob al backend
               this.enviarFotoAlBackend(blob);
            }, 'image/jpeg', 0.95); // Formato JPEG con 95% de calidad
        },
        async  enviarFotoAlBackend(blob) {
            const formData = new FormData();
            let fileName = ""
            
            if (this.createRecognitionImages) {
                fileName = prompt("Nombre del individuo", "MAXIMO DECIMO MERIDIO")
            }

            formData.append('foto', blob, 'foto.jpg'); // Agrega el Blob al FormData
            formData.append('file_name', fileName)

            try {
                const respuesta = await fetch('/images/upload', {
                    method: 'POST',
                    body: formData,
                });

                if (respuesta.ok) {
                    console.log('Foto enviada correctamente');
                    alert('Foto enviada al backend con éxito');
                } else {
                    console.error('Error al enviar la foto:', respuesta.statusText);
                    alert('Hubo un error al enviar la foto');
                }
            } catch (error) {
                console.error('Error en la solicitud:', error);
                alert('Error de conexión con el backend');
            }
        }
    }
}
</script>
</body>
</html>